.footer.container-fluid
    .container
        .row.footerNote
            a.col-sm-2.col-md-1.col-md-offset-3(href="/" title="别看了，啥都没有") 关于本站
            a.col-sm-2.col-md-1(href="https://segmentfault.com/a/1190000012950331" target="_blank") 中间层教程
            a.col-sm-2.col-md-1(href="http://xilan.me" title="http://xilan.me" target="_blank") 我的博客
            a.col-sm-2.col-md-1(href="https://segmentfault.com/u/keyon_y" target="_blank") SegmentFault
            a.col-sm-2.col-md-1(href="http://blog.csdn.net/u010467784" target="_blank") CSDN
            a.col-sm-2.col-md-1(href="//shang.qq.com/wpa/qunwpa?idkey=b57130d22a218d71552629c90a96e451c49140279da320e696485771d39ee29a" target="_blank") QQ群
        .row
            .text-center.footerNote 本站由
                a(href="http://xilan.me" target="_blank") Keyon Y
                | 提供，学习node中间层专用