.container-fluid
    //-.navbar-fixed-top
    nav.navbar.navbar-default.bg-inverse.navbar-dark.navbar-fixed-top
        .container
            ul.nav.navbar-nav
                li.active
                    a.nav-link(href="") 首页
                li
                    a.nav-link(href="") 列表
                li
                    a.nav-link(href="") 排行榜